<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/materialize/css/materialize.min.css")
        link(rel="https://fonts.googleapis.com/icon?family=Material+Icons", href="stylesheet")
        title Document
    body
        nav
        ul#slide-out.sidenav
            li
                .user-view
                    .background
                        img(src='images/office.jpg')
                    a(href='#user')
                        img.circle(src='images/yuna.jpg')
                    a(href='#name')
                        span.white-text.name John Doe
                    a(href='#email')
                        span.white-text.email jdandturk@gmail.com
            li
                a(href='#!')
                    i.material-icons cloud
                    | First Link With Icon
            li
                a(href='#!') Second Link
            li
                .divider
            li
                a.subheader Subheader
            li
                a.waves-effect(href='#!') Third Link With Waves
        a.sidenav-trigger(href='#' data-target='slide-out')
            i.material-icons menu


    script(src="/materialize/js/jquery-3.5.1.min.js")
    script(src="/materialize/js/materialize.min.js")
    script(src="/barra.js")
    block contenido