<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/materialize/css/materialize.min.css")
        link(rel="stylesheet", href="/materialize/css/cuenta.css")
        link(rel="stylesheet", href="/css/app.css")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        title Actualizar Perfil
    body.Imagen-fondo
        nav.nav-wrapper.menu
            a.brand-logo(href='#')  
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href="/perfil" ) volver 
                li
                    a(href="/cerrar-sesion" ) Cerrar Sesion
        center

            .card-panel.Inicio
                
                    h1 Perfil cliente
                    
                    form(action=`/perfilUsuarios/ActualizarUsuario/${cliente.url}` method = "POST")
                        .row
                            .input-field
                                input#first_name.validate(type='text' name ='nombreUsuario' value = cliente.nombre)
                                label(for='first_name') Nombre
                            .input-field
                                input#last_name.validate(type='text' name ='apellidoUsuario' value = cliente.apellido)
                                label(for='last_name') Apellido
                        .row
                            .input-field
                                input#Identificacion.validate(type='number' name ='identificacionUsuario' value = cliente.identificacion)
                                label(for='Identificacion') CC
                        .row
                            .input-field
                                input#frmDireccion.validate(type='text' name ='direccionUsuario' value = cliente.direccion)
                                label(for='frmDireccion') Dirección
                    
                        .row
                            .input-field
                                input#email.validate(type='email' name ='emailUsuario' value = cliente.email)
                                label(for='email') Correo Electronico
                        .row
                            .input-field
                                input#contacto.validate(type='number' name ='contactoUsuario' value = cliente.telefono)
                                label(for='contacto') Telefono
                        button.waves-effect.waves-light.btn-large.actualizarbtn( type='submit' name='action' style='background-color: red;') Actualizar 
                    
                    button#eliminar.waves-effect.waves-light.btn-large.eliminarbtn(data-cliente-url=cliente.url style='background-color: blue;') Eliminar
                    form(action=`/Registrarpedido/${cliente.url}`)    
                        button.waves-effect.waves-light.btn-large.hacerpedidobtn( type='submit' name='action' style='background-color: #0e0e0e;') HACER PEDIDO
                    form(action=`/ListaPedidos/${cliente.url}`)    
                        button.waves-effect.waves-light.btn-large.verpedidobtn( type='submit' name='action' style='background-color: #0e0e0e;') Ver pedido
    script(src="/dist/bundle.js")               
    script(src="/materialize/js/materialize.min.js") 
    script(src="/materialize/js/jquery-3.5.1.min.js")          
    block contenido

    