<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/materialize/css/materialize.min.css")
        link(rel="stylesheet", href="/materialize/css/pedido.css")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        title Mi Pedido
    body.Imagen-fondo
        nav.nav-wrapper.menu 
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href= `/perfilUsuarios/ActualizarUsuario/${cliente.url}` ) Volver al Perfil
                li
                    a(href="/cerrar-sesion" ) Cerrar Sesion

        section(style='width: 100%;text-align: center;')
            center
                .card-panel.Inicio
                    center
                        h2 REGISTRAR PEDIDOS
                        form(action=`/Registrarpedido/${cliente.url}` method = "POST")
                            .row
                                .input-field
                                    input#Cantidad.validate(type='number' name ='cantidad')
                                    label(for='Cantidad') Cantidad
                            .row
                                .input-field
                                    input#descripcion.validate(type='text' name ='descripcion')
                                    label(for='descripcion') Descripcion
                            .row
                                .input-field
                                    input#fecha.validate(type='text' name ='Fecha')
                                    label(for='fecha') Fecha
                            button.btn.waves-effect.waves-light(type='submit' name='action' ) Guardar
                                i.material-icons.right send


                            
                            

    script(src="/materialize/js/materialize.min.js") 
    script(src="/materialize/js/jquery-3.5.1.min.js")
             
    block contenido
                                