<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=, initial-scale=1.0")
        link(rel="stylesheet", href="/materialize/css/materialize.min.css")
        link(rel="stylesheet", href="/materialize/css/UsuariosNuevos.css")
        link(rel="stylesheet", href="/materialize/css/cambios.css")
        link(rel="stylesheet", href="/css/app.css")
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        title Nueva Contrase単a
    body
    body.fondo-registro 
        nav.nav-wrapper.menu
            a.brand-logo(href='#')  
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href="/" ) volver a la Pagina Inicio
        section.inicio-registro
        center
            .card-panel.registro-panel
                .contenido-registro
                    h1 Agregar una nueva contrase単a para acceder a tu cuenta
                    if error
                        p.alerta.error= error
                    form( method= "POST" )
                        .row
                            .input-field
                                input#password.validate(type='password' name ='passwordUsuario' value=passwordUsuario)
                                label(for='password') Contrase単a
                                
                        .row
                            .input-field
                                button.waves-effect.waves-light.btn-large( type='submit') Restablecer contrase単a
                            .input-field    
                                a(href="/Login") Volver a Iniciar sesion
    script(src="/materialize/js/materialize.min.js") 
    script(src="/materialize/js/jquery-3.5.1.min.js")          
    block contenido