<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
    h2 Confirma tu Cuenta de Usuario
    p Ya estas casí inscrito, solo presiona el siguiente botón
    a(href=`${confirmarUrl}`) Confirmar Cuenta
    p si no puedes acceder al enlace visita #{confirmarUrl}
    p si no solicitaste este email, por favor ignorar.
                    